/*  your css code here. If applicable */
.player_one{
	background-color:rgb(255, 255, 255);
}

a{
text-decoration-line:none;
}

h1{
text-align:center;
}

.player_two ,h2,.player_three{
	text-align:center;
}

.player_two, .player_three{	
	background-color:white;
	margin:0px 100px;
	align-content:space-between;	
}